<div style="padding: 0px;">
    <%= partial :'shared/header' %>

    <div style="padding: 1px 1px 1px 10px;">
        <h1>Hello index!</h1>
        <p><strong>Título:</strong> <%= title %></p>
        <p><strong>Descrição:</strong> <%= description %></p>
    </div>

    <%= partial :'shared/footer' %>
</div>